*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// This define the value of 1 rem

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}
